<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/fontFaces.css">
    <link rel="stylesheet" href="/styles/browseItemsStyle.css">
    <script src="/scripts/Cart.js"></script>
    <script src="/scripts/htmlGenerator.js"></script>
    <script src="/scripts/browseItemsScript.js" defer></script>
    <title>LootLake - Browsing</title>
</head>
<body>
    <header>
        <h1>LootLake</h1>

        <nav>
            <ul>
                <li class="selected"><a href="#">Browse</a></li>
                <li><a href="#">Odabrano</a> <button onclick="cart.sendOrder()">posalji</button><span class="navSelectedItemsWorth">€0</span> </li>
                <li><a href="#">Stats</a></li>
            </ul>
        </nav>
    </header>

    <main id="itemsList">
    </main>

    <div class="filtersContainer">
        <select name="countryDropdown" id="countryDropdown">
            <option value="" selected>Država</option>
            <% countryList.forEach((country)=>{ %>
                <option value="<%= country[1] %>"><%= country[0] %></option>
            <% }); %>
        </select>

        <select name="yearDropdown" id="yearDropdown">
            <option value="" selected>Godina</option>
            <% yearList.forEach((year)=>{ %>
                <option value="<%= year[1] %>"><%= year[0] %></option>
            <% }); %>
        </select>
    </div>
</body>
</html>