<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Year List</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Year List</h1>
    <a href="/old">Countries</a>
    <ul>
        <% years.forEach(year => { %>
            <li>
                <a href="/coins/year/<%=year.name%>">
                    <%= year.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>