* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #e6e6e6;
}
li {
  list-style-position: inside;
}

.primaryButton {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  background-color: #1a1a1a;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #1a1a1a;
}
.primaryButton:hover {
  background-color: #333333;
}
.secondaryButton {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  border: 1px solid #1a1a1a;
  background-color: transparent;
  color: #1a1a1a;
}
.secondaryButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* .container {
  display: flex;
} */

.header {
  background-color: #e6e6e6;
  position: fixed;
  padding: 1.5rem 1rem;
  width: 100%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}
.header .filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;

  margin-bottom: 1.5rem;
}
.header .filter a {
  background-color: #a8a8a8;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  text-decoration: none;
  color: white;
}
.header .filter a.active {
  background-color: #1a1a1a;
}

.header .filter a:hover {
  background-color: black;
}

form,
.header .scrollToGroupContainer {
  display: flex;
  flex-direction: column;
}

.header .scrollToGroupContainer select {
  margin-bottom: 0;
}

input,
select {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 1rem;
}
label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
/* .header form button{
        padding: 0.75rem 1rem;
        border-radius: 0.375rem;
        background-color: #1A1A1A;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        border: none;
    }  */

.left {
  padding-top: 12rem;
  width: 100%;
  background-color: #e6e6e6;
}
.left .groupsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.left .groupsList .group {
  list-style: none;
  background-color: #fafafa;
  border-radius: 0.5rem;
  padding: 1rem;
}
.left .groupsList .group .titleAndAddCoinButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.left .groupsList .group .titleAndAddCoinButtonContainer .groupTitle {
  font-size: 2rem;
  font-weight: 600;
}

.left .groupsList .group .titleAndAddCoinButtonContainer .showAddCoinFormButton {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  cursor: pointer;
}

.left .groupsList .group .groupItems {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.left .groupsList .group .groupItems .item {
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  list-style: none;
  display: flex;
  column-gap: 1rem;
}
.left .groupsList .item .subgroupValue {
  font-weight: 600;
  color: black;
}
.left .groupsList .item .mainName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left .groupsList .item .mainName .addIssueButton {
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.left .groupsList .item .itemVersions {
  color: #666;
  margin-top: 0.125rem;
}
.left .groupsList .item .itemVersions .version {
  cursor: pointer;
  /* font-size: 0.75rem;
    font-weight: 400;
    color: #333333; */
  /* list-style: none; */
}
.left .itemVersions form {
  padding: 0.5rem 0;
}
.left .itemVersions form button {
  margin-bottom: 1rem;
}

#preview {
  /* background-color: brown;
  display: flex;
  flex-direction: column;
  width: 25%; */
}

#preview img {
  aspect-ratio: 1;
  width: 50%;
  object-fit: contain;
  right: 0;
  top: 0;
  position: fixed;
}

/* styles for a <dialog> type */
#addCoinDialog {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2rem);
  max-width: 60rem;
}
#addCoinDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}
