* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6e6e6;
  padding-bottom: 7.5rem;
  max-width: 55rem;
  margin: auto;
}

h1 {
  margin: 1.5rem 1rem 2.5rem 1rem;
}

.orderFilterContainer {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  overflow-x: auto;
}
.orderFilterContainer .filter {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.2s;

  border: 1px solid #ccc;
}
.orderFilterContainer .filter:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.orderFilterContainer .filter.active {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #1a1a1a;
}

.ordersContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.order-card {
  padding: 1rem;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.order-card .order-header {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}
.order-card .order-header .column-1,
.order-card .order-header .column-2 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.order-card .order-header .column-1 {
  align-items: flex-start;
}
.order-card .order-header .column-2 {
  /* flex-shrink: 0; */
  align-items: flex-end;
}

.order-card .name {
  font-size: 1.25rem;
  font-weight: 500;
}
.order-card .date {
  font-size: 1rem;
  color: #666;
  font-weight: 400;
}

.order-card .total {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: right;
}
.order-card .orderStatus {
  padding: 0.5rem 1rem;
  border-radius: 10rem;

  font-size: 1rem;
  font-weight: 600;

  text-transform: capitalize;
}
.orderStatus.accepted {
  background-color: hsla(111, 78%, 30%, 0.15);
  border: 1px solid hsl(111, 78%, 30%);
  color: hsl(111, 78%, 30%);
}
.orderStatus.declined {
  color: hsl(355, 78%, 56%);
  background-color: hsla(355, 78%, 56%, 0.15);
  border: 1px solid hsl(355, 78%, 56%);
}

.order-card .acceptDeclineButtonsContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.order-card .acceptDeclineButtonsContainer button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s;

  border: 1px solid #ccc;
}
.order-card .acceptDeclineButtonsContainer button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Items list */

.order-card .itemsList {
  display: flex;
  flex-direction: column;

  max-height: 15rem;
  overflow-y: auto;
}
.order-card .itemsList.expanded {
  max-height: 100%;
}
.order-card .itemsList .item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  padding: 0.75rem 0;
  border-top: 1px solid hsl(0, 0%, 90%);
}
.order-card .itemsList .item:last-child {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.order-card .itemsList .item .title {
  font-size: 0.875rem;
  font-weight: 500;
  /* flex: 1; */
}
.order-card .itemsList .item .price {
  flex-shrink: 0;
}

.order-card .seeAllButton {
  width: fit-content;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s;

  border: 1px solid #ccc;

  cursor: pointer;
}

/* Tags */
.tagsContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.tag {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 10rem;

  text-transform: capitalize;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.tag.primary {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #1a1a1a;
}
.tag.secondary {
  background-color: rgba(0, 0, 0, 0.1);
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

/* Pagination */
#paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
#paginationContainer #currentPage {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
  text-transform: capitalize;
}
.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3rem;
  padding: 0.5rem;

  border-radius: 0.375rem;
  /* background-color: #fafafa; */
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #ccc;
  transition: all 0.2s;
}
.paginationButton:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.paginationButton img {
  width: 100%;
  height: 100%;
}
#prevPage img {
  transform: rotate(90deg);
}
#nextPage img {
  transform: rotate(-90deg);
}
